acceptance : AllIn
geometry : LHCb
energy: 13
pid : LHCbGenericPID
paramsDecaying : M, M2, MT, Mcorr, P, PT, PX, PY, PZ, vtxX, vtxY, vtxZ, IP, SIGMAIP, FD, eta
paramsStable : P, PT, PX, PY, PZ,  IP, SIGMAIP, FD, eta, ProbNNpi, ProbNNk
paramsTwoBody : M2, M, MT, Mcorr, P, PT
@0
	name : B
@1
	name : Kst
@2
	name : L1
	smear : LHCbGeneric
@3
	name : L2
	smear : LHCbGeneric
@4
	name : K
	smear : LHCbGeneric
@5
	name : pi
	smear : LHCbGeneric
