acceptance : AllIn
geometry : LHCb
energy: 13
pid : LHCbGenericPID
paramsDecaying : M, M2, MT, Mcorr, P, PT, PX, PY, PZ, vtxX, vtxY, vtxZ, IP, SIGMAIP, FD, eta
paramsStable : P, PT, PX, PY, PZ,  IP, SIGMAIP, FD, eta, ProbNNpi, ProbNNk
paramsTwoBody : M2, M, MT, Mcorr, P, PT
@0
	name : B
@1
	name : rho
@2
	name : L1
	smear : LHCbElectron
@3
	name : L2
	smear : LHCbElectron
@4
	name : pim
	smear : LHCbGeneric
	altMass: K-
@5
	name : pip
	smear : LHCbGeneric
	altMass: K+
